* {
  padding: 0;
  margin: 0;
}

#banner {
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0), black);
  overflow: hidden;
}
#overlay {
  z-index: 1;
  background-image: linear-gradient(
    60deg,
    black,
    40%,
    rgb(0, 0, 0, 0),
    70%,
    #011638
  );
  width: 100vw;
  height: 95vh;
  position: relative;
  top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#video {
  z-index: 0;
  transform: translateX(calc((100% - 100vw) / -2));
}
#video-container {
  height: 95vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: 0;
}

#intro {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#group-pic {
  width: 75%;

  border-radius: 10px;
  border: 3px solid #f9d459;
}

#group-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: radial-gradient(#937103, black);
  padding: 10px;
}

#intro p {
  width: 75%;
}

#intro button {
  margin-bottom: 30px;
}

#highlights {
  background-color: #937103;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol {
  width: 200px;
}

#achievements {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
}

#sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010c1e;
  justify-content: center;
}

#highlights h2 {
  text-decoration: 2px underline;
}

#harley {
  width: 50%;
  margin: 40px;
}

.button {
  color: #f9d459;
  border-color: #f9d459;
  transition: all, 0.25s;
}
.button:hover {
  cursor: pointer;
  background-color: #011638;
  border-color: transparent;
  color: #eff0f2;
}

#sponsors img {
  height: 275px;
  transition: transform 0.25s;
}

.card p {
  transition: transform 0.25s;
}

.card:hover img {
  transform: scale(1.05);
}

.card:hover p {
  transform: scale(1.05);
}

.carousel-container {
  width: 100%;
  height: 10%;
  margin-top: 40px;
  margin-bottom: 60px;
}
h1 {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  text-align: center;
}
@media screen and (max-width: 1080px) {
  #overlay h1 {
    font-size: 125px;
  }
}

@media screen and (max-width: 1000px) {
  #sponsors img {
    height: 225px;
  }
}

@media screen and (max-width: 900px) {
  #overlay h1 {
    font-size: 115px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 725px) {
  #sponsors img {
    height: 175px;
  }
}

@media screen and (max-width: 575px) {
  #sponsors img {
    height: 190px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
    text-align: center;
  }
  #highlights img {
    height: 100px;
  }
}
@media screen and (max-width: 400px) {
  #sponsors img {
    height: 150px;
  }
}
