@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
  color: #eff0f2;
  margin: 50px;

  text-shadow: 8px 10px #f9d459;
  -webkit-text-stroke: 7px black;
  letter-spacing: 10px;
}

h2 {
  font-family: "Poppins", serif;
  font-weight: 250;
  font-style: normal;
  font-size: 75px;
  color: #eff0f2;
  letter-spacing: 5px;
}
h3 {
  font-family: "Poppins", serif;
  font-weight: 250;
  font-style: normal;
  font-size: 30px;
  color: #eff0f2;
  letter-spacing: 5px;
}

p {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color: #eff0f2;
  margin: 10px;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.8;
}

body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  color: #eff0f2;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
button:hover {
  transform: scale(1.06);
}
